:root {
    --main-color : #0085C3;
   
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
  }

/* small screen */
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}
/* meduim */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

::selection {
    color: var(--main-color);
}
.container {

    margin-left: auto;
    margin-right: auto;   
    /* add padding for size of mobile  */
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
}
.links{
 display: flex;
 justify-content: flex-end;
 padding: 20px;

 /* justify-content: space-between; */
}
.links ul {
    display: flex;
    list-style-type: none;
}
.links ul li {
    padding-left: 20px;
    
}

.links li a {
    text-decoration: none;
    color: black;
}
.links button {
    border-radius:34px 34px;
    padding: 10px 30px;
    margin-left: 30px;
    background-color: var(--main-color);
    color: white;
    font-size: 19px;
}
.container img {
    display: inline-block;
    width: 100px;
    position: absolute;
    left:0;
    top:0;

}

@media (max-width:1019px){
    .links {
        display: none;
    }
}